<div class="main-div">

  <div class=row>
    <div style="margin-bottom: 80px">
      <h1 style="font-size: 80px">
        It's Fake or Real ?
      </h1>
      <!--<img mat-card-avatar src='../../assets/fakeOrReal.png'>-->

    </div>

    <div>
      <div class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Twitter username</mat-label>
          <input  matInput [(ngModel)]="username" >
        </mat-form-field>
      </div>
      <div class="button-center">
        <button mat-raised-button color="accent" (click)="onClickGo()">Go</button>
      </div>
      <div class="row-img">
        <div class="column-img">
          <img class="img-1" mat-card-avatar src='../../assets/fake.svg'>
        </div>
        <div class="column-img">
          <img class="img-2" mat-card-avatar src='../../assets/real.svg'>
        </div>

      </div>

    </div>
  </div>


</div>
