.main-div{
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-form-field {
  width: 100%;
}

.button-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
