<div class="main-div">

  <div class=row>
    <div style="margin-bottom: 80px">
      <h1 style="font-size: 80px">
        It's Fake or Real ?
      </h1>
    </div>

    <div>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Twitter username</mat-label>
          <input  matInput>
        </mat-form-field>
      </form>
      <div class="button-center">
        <button mat-raised-button color="accent">Go</button>
      </div>

    </div>
  </div>


</div>
